<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sasd13.proadmin"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name=".activity.SplashScreenActivity"
            android:label="@string/activity_splashscreen"
            android:theme="@style/Proadmin.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:noHistory="true">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LogInActivity"
            android:label="@string/activity_login"
            android:theme="@style/Proadmin.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleInstance">
        </activity>

        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/ProadminBlue"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleInstance">
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/activity_settings"
            android:theme="@style/ProadminBrown"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>

        <activity
            android:name=".activity.TeamsActivity"
            android:label="@string/activity_teams"
            android:theme="@style/ProadminGreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>

        <activity
            android:name=".activity.ProjectsActivity"
            android:label="@string/activity_projects"
            android:theme="@style/ProadminOrange"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>

        <activity
            android:name=".activity.RunningsActivity"
            android:label="@string/activity_runnings"
            android:theme="@style/ProadminRed"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.ProjectsActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProjectsActivity" />
        </activity>

        <activity
            android:name=".activity.RunningTeamsActivity"
            android:label="@string/activity_runningteams"
            android:theme="@style/ProadminPurple"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.RunningsActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.RunningsActivity" />
        </activity>

        <activity
            android:name=".activity.ReportsActivity"
            android:label="@string/activity_reports"
            android:theme="@style/ProadminBlue"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.RunningTeamsActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.RunningTeamsActivity" />
        </activity>

    </application>

</manifest>
