<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sasd13.proadmin"
    android:installLocation="auto">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/activity_splashscreen_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:noHistory="true">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LogActivity"
            android:label="@string/activity_log_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:noHistory="true">
        </activity>

        <activity
            android:name=".SignActivity"
            android:label="@string/activity_sign_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:noHistory="true">
        </activity>

        <activity
            android:name=".HomeActivity"
            android:label="@string/activity_home_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".SettingActivity"
            android:label="@string/activity_setting_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>

    </application>

</manifest>
